@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SEGA_MARUGOTHICDB";
    src: url("./SEGAMaruGothicDB.woff2");
}

.font-sega {
    font-family: "SEGA_MARUGOTHICDB";
}